<form action='/spaces'>
  <input type='submit' value='Spaces'>
</form>
<form action='/requests'>
  <input type='submit' value='Requests'>
</form>
<form action='/sign_out' method='post'>
  <input type='submit' value='Sign out'>
</form>

<h1> Requests </h1>
Hello welcome to requests. Please look at them.

<h2> Requests I've made </h2>
<!-- customer booking into a space
page to be signed into customer
looking at booking table. listing all bookings where customer_id = session [customer_id] AND confirmation == false

Name of space - join space table on space.id
confirmation
dates booked  -->

<ol>
  <% @requests.each do |request| %>
    <ul>
      <li>ID: <%= request.id %></li>
      <li>Space name: <%= Space.find(id: request.space_id).name %></li>
      <li>Confirmation: <%= request.confirmation == 'f' ? 'Unconfirmed' : 'Confirmed' %></li>
      <li>Booking Date: <%= Booking.find(id: request.id).booking_date %></li>
    </ul>
  <% end %>
</ol>



<h2> Requests I've received </h2>
