<center>
  <div style='height: 100%;width: 50%;background-color: powderblue;'>
    <h1><%= @space.name %></h1>
    <h3><%= @space.description %></h3>
    <p style='text-align:left;padding-left:20px'>Pick a date:</p>
    <img src='/images/calendar.png'>
  <div>
</center>
