<h1>List a space</h1>

<form action='/add_a_listing' method='post'>
  Space name: <input type='text' name='name' placeholder='name'>
  Description: <input type='text' name='description' placeholder='description'>
  Price per night: £<input type='number' name='ppn' placeholder='price per night'>
  Available from: <input type='date' name='start_date' placeholder='start date'>
  Available to: <input type='date' name='end_date' placeholder='end date'>

  <input type='submit' value='Submit'>
</form>
