<form action='/spaces'>
  <input type='submit' value='Spaces'>
</form>
<form action='/requests'>
  <input type='submit' value='Requests'>
</form>
<form action='/sign_out' method='post'>
  <input type='submit' value='Sign out'>
</form>

<center><h1>List a space</h1></center>
<center>
  <form action='/spaces/new' method='post'>
    Space name: <input type='text' name='name' placeholder='name'>
    <br>
    Description: <input type='text' name='description' placeholder='description'>
    <br>
    Price per night: £<input type='number' name='ppn' placeholder='price per night'>
    <br>
    Available from: <input type='date' name='start_date' placeholder='start date'>
    <br>
    Available to: <input type='date' name='end_date' placeholder='end date'>
    <input type='submit' value='Submit'>
  </form>
</center>
